<h1>JANコード、メーカー名、シリーズ名や商品名で検索</h1>
<%= search_form_for @q, url: search_jans_path do |f| %>
  <%= f.label :JAN_cont , 'JANコード' %>
  <%= f.search_field :JAN_cont %>
  <%= f.label :Manufacturer_cont , 'メーカー名' %>
  <%= f.search_field :Manufacturer_cont %>
  <%= f.label :Product_cont , 'シリーズ名や商品名' %>
  <%= f.search_field :Product_cont %>
  <%= f.submit '検索' %>
<% end %>