<h1>JANコード、メーカー名、シリーズ名や商品名で検索</h1>
<%= search_form_for @q, url: search_jans_path do |f| %>
  <%= f.label :JAN_cont , 'JANコード' %>
  <%= f.search_field :JAN_cont %>
  <%= f.label :Manufacturer_cont , 'メーカー名' %>
  <%= f.search_field :Manufacturer_cont %>
  <%= f.label :Product_cont , 'シリーズ名や商品名' %>
  <%= f.search_field :Product_cont %>
  <%= f.submit '検索' %>
<% end %>

<h1>@cart_item</h1>
<table>
  <thead>
    <tr>
      <th>JANコード</th>
      <th>Manufacturer</th>
      <th>Product</th>
      <th>Quabtity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @cart_items.nil? %>
    <td>商品を追加してください</td>
    <% else %>
      <% @cart_items.each do |jan| %>
        <tr>
          <td><%= jan.JAN %></td>
          <td><%= jan.Manufacturer %></td>
          <td><%= jan.Product %></td>
          <td><%= jan.quantity %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h1>@results</h1>
<table>
  <thead>
    <tr>
      <th>JANコード</th>
      <th>Manufacturer</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @results.nil? %>
      <td>商品が見つかりませんでした</td>
    <% else %>
      <% @results.each do |jan| %>
        <%= form_with model: @cart_item do |f| %>
          <tr>
            <td><%= jan.JAN %></td>
            <td><%= jan.Manufacturer %></td>
            <td><%= jan.Product %></td>
            <td><%= f.submit "カートへ追加", class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<h1>@jans</h1>
<table>
  <thead>
    <tr>
      <th>JANコード</th>
      <th>Manufacturer</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @jans.nil? %>
      <td>商品が見つかりませんでした</td>
    <% else %>
      <% @jans.each do |jan| %>
        <tr>
          <td><%= jan.JAN %></td>
          <td><%= jan.Manufacturer %></td>
          <td><%= jan.Product %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>